<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <meta charset="UTF-8">
        <link rel="icon" href="data:image/svg+xml,<svg id=%Warstwa_1% data-name=%Warstwa 1% xmlns=%http://www.w3.org/2000/svg% viewBox=%0 0 32 32%><defs><style>.cls-1{font-size:29.47px;fill:#1d1d1b;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs><title>icon</title><text class=%cls-1% transform=%translate(9.06 26.31) scale(0.91 1)%>F</text></svg>"/>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&display=swap');
            body{
                width: 100vw;
                height: 87vh;
                background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 77%, 77%, 1) 100%);
            }
            #alert{
                font-size: 1.5rem;
                padding: 2%;
                background-color: white;
                width: 500px;
                aspect-ratio: 2/1;
                text-align: center;
                border-radius: 20px;
                box-shadow: 5px 5px 15px rgb(0, 0, 0);
                font-family: 'Noto Sans', sans-serif;
                font-weight: 400;
            }
            body, #alert{    
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
        <title>Error</title>
    </head>
    <body>
        <div id="alert">
			Wystąpił nieoczekiwany błąd. Spróbuj ponownie.
		</div>
    </body>
</html>
