{% extends 'base.html.twig' %}
{% block head %}
    <link rel="icon" href="data:image/svg+xml,<svg id=%Warstwa_1% data-name=%Warstwa 1% xmlns=%http://www.w3.org/2000/svg% viewBox=%0 0 32 32%><defs><style>.cls-1{font-size:29.47px;fill:#1d1d1b;font-family:MyriadPro-Regular, Myriad Pro;}</style></defs><title>icon</title><text class=%cls-1% transform=%translate(9.06 26.31) scale(0.91 1)%>F</text></svg>" />
{% endblock %}  
{% block title %}Transport Form{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}
