#title{
    margin-top: 3%;
    font-size: 2rem;
    text-align: center;
}
#form-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    
}
#main-form{
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 2% 10px 2%;
    width: 80%;

    *{
        margin: 1% 0 1% 0;
        width: 100%;
    }

    #file-zone{
        display:flex;
        flex-direction: row;
        height: 100px;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            margin: 0 5px 0 5px;
            width: 50%;
            height: 100%;
            background-color: rgb(233, 245, 255);
            border-radius: 15px;
            font-size: 0.9rem;
            text-align: center;
        }
    }

    #date-box{
        display: flex;
        flex-direction: row;
        input, p{
            text-align: center;
            width: 50%;
            display:flex;
            align-items: center;
            justify-content: center;
        }
    }

    input, select{
        background-color: rgb(231, 231, 231);
        border: none;
        padding: 2%;
        border-radius: 30px;
        box-sizing: border-box;
        font-size: 1rem;
    }

    input:hover, 
    select:hover, 
    button:hover{
        background-color: rgb(215, 215, 215);
    }

    button{
        width: 30%;
        padding: 2%;
        border-radius: 30px;
        border: none;
    }

    .invalid{
        background-color: rgb(133, 96, 96);
    }
    .valid{
        background-color: rgb(137, 255, 182);
    }
    .load-container{
        box-sizing: border-box;
        padding: 2%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .load-container:nth-child(even){
        background-color: beige;
    }
    .load-container:nth-child(odd){
        background-color: bisque;
    }
    .drop-zone-unactive{
        //background-color: rgb(255, 145, 187);
    }
    .drop-zone-drag-enter{
        background-color: rgb(25, 241, 187);
    }
    .drop-zone-drag-leave{
        background-color: rgb(161, 61, 243);
    }
    .drop-zone-droped{
        background-color: rgb(235, 154, 88);
    }

}
@media (min-width: 1000px){
    #main-form{
        /*
        *{
            width: 900px;
        }*/
        width: 900px;
    }
}