#title{
    margin-top: 3%;
    font-size: 2rem;
    text-align: center;
}
#form-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    
}
#main-form{
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 2% 10px 2%;
    width: 80%;

    *{
        margin: 1% 0 1% 0;
        width: 100%;
    }

    #file-zone{
        display:flex;
        flex-direction: row;
        height: 100px;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            margin: 0 5px 0 5px;
            width: 50%;
            height: 100%;
            border-radius: 15px;
            font-size: 0.9rem;
            text-align: center;
        }
        #file-tab{
            ul{
                width: 100%;
                height: 100%;
                list-style: none;
                li{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    p{
                        width: 90%;
                    }
                    button{
                        width: 10%;
                        padding: 0;
                    }
                }
                overflow-x: hidden;
                overflow-y: scroll;
            }
        }
    }

    #date-box{
        display: flex;
        flex-direction: row;
        input, p{
            text-align: center;
            width: 50%;
            display:flex;
            align-items: center;
            justify-content: center;
        }
    }

    input, select{
        background-color: rgb(231, 231, 231);
        border: none;
        padding: 2%;
        border-radius: 30px;
        box-sizing: border-box;
        font-size: 1rem;
    }

    input:hover, 
    select:hover, 
    button:hover{
        background-color: rgb(215, 215, 215);
    }

    button{
        width: 30%;
        padding: 2%;
        border-radius: 30px;
        border: none;
    }

    .invalid{
        background-color: #F297B8;
    }
    .valid{
        background-color: #99F2D1;
    }
    .load-container{
        position: relative;
        box-sizing: border-box;
        padding: 2%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .del-button{
            position: absolute;
            box-sizing: border-box;
            width: 30px;
            padding: 1px;
            display:flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1/1;
            right: 10px;
            top: 2px;
            border: solid black 0.1px;
        }
    }
    .load-container:nth-child(even){
        background-color: #E9FCF5;
    }
    .drop-zone-unactive{
        background-color: #E9FCF5;
    }
    .drop-zone-drag-enter{
        background-color: rgb(215, 215, 215);
    }
    .drop-zone-drag-leave{
        background-color: rgb(201, 201, 201);
    }
}
@media (min-width: 1000px){
    #main-form{
        width: 900px;
    }
}
